//BackGround
$bg-primary: #00243D !important; //847995 80b2c9 222831 354a53
$bg-secondary: #393D42 !important; // 1b1d20
//Text
$text-01: #8B90A0;
$text-02: #505565;
$text-03: #232735;
$text-black: black;
$text-inverse: white;
//Text size
$size-s: 1.1rem;
$size-m: 1.3rem;
$size-l: 1.5rem;
//Color
$primary: #D8F3FF; //  d8ac34 a1b3bc
$secondary: #393E46;
$info: #4b6ddd;
$info-2: #394d8f;
$warning: #ec2020;

//UI
$ui-01: #00243D;
$ui-02: #EEEEEE;
$ui-03: #EEEEEE;
$ui-04: #8B90A0;
$ui-05: #4b6ddd;
$ui-06: #d7dbdf;
// Spacing
$space-xxs: .25rem;
$space-xs: .5rem;
$space-s: 1rem;
$space-m: 1.5rem;
$space-l: 2rem;
$space-xl: 3rem;
$space-xl2: 3.5rem;
$space-xxl: 4rem;
$space-xxxl: 8rem;
//Other
$hover-primary: #a1b3bc;
$hover-row: #DAF7F3;
$navbar-width: 260px;
$navbar-width-active: 50px;
$header-height: 55px;
$active-header-height: 385px;
$hover-info: #3e58ad;
$hover-warning: #bb1e1e;